// app global css in SCSS form

.text-1 {
  color: #2f2e41 !important;
}

.bg-1 {
  background: #fff7ed !important;
}

.text-2 {
  color: #fff7ed !important;
}

.bg-2 {
  background: #3f3d56 !important;
}

.text-disabled {
  color: #cccccc !important;
}

.border-1 {
  border-color: #3f3d56 !important;
}
