// app global css in SCSS form

// Colors
.text-1 {
  color: #2f2e41 !important;
}

.bg-1 {
  background: #fafafa !important;
}

.text-2 {
  color: #fafafa !important;
}

.bg-2 {
  background: #3f3d56 !important;
}

.text-disabled {
  color: #cccccc !important;
}

.border-1 {
  border-color: #3f3d56 !important;
}

.border-primary {
  border-color: $primary;
}

.text-3 {
  color: rgba(0, 0, 0, 0.54);
}

// Fonts
@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins-Regular.woff2);
}

.poppins-regular {
  font-family: 'poppins-regular', sans-serif;
}

@font-face {
  font-family: inter-regular;
  src: url(./fonts/Inter-Regular.woff2);
}

.inter-regular {
  font-family: 'inter-regular', sans-serif;
}

@font-face {
  font-family: inter-medium;
  src: url(./fonts/Inter-Medium.woff2);
}

.inter-medium {
  font-family: 'inter-medium', sans-serif;
}

@font-face {
  font-family: inter-semibold;
  src: url(./fonts/Inter-SemiBold.woff2);
}

.inter-semibold {
  font-family: 'inter-semibold', sans-serif;
}

// Utils
.note-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.w-sm-50 {
  @media (min-width: 600px) {
    max-width: 50rem;
    margin: auto;
  }
}
