<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title th:text="${title}"></title>

  <link th:replace="~{common-fragments :: fonts-bunny}">
  <style th:replace="~{common-fragments :: email-common-style}"></style>
</head>
<body>
<main>
  <img alt="daily" class="daily-logo" src="https://trydaily.click/img/daily-logo.svg">
  <p>Hello <span th:text="${appUserFirstName}"></span>,<br><br><br>We are sending you this e-mail
    to inform you that your password has just been reset<br><br><br>Thanks,
    have a
    lovely day,<br><br>The daily team
  </p>
  <hr class="daily-hr">
  <small>If you received this email by mistake, you can safely ignore it</small>
</main>
</body>
</html>