<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title th:text="${title}"></title>

  <link th:replace="~{common-fragments :: fonts-bunny}">
  <style>

    body {
      font-family: 'Inter', sans-serif;
      color: #2f2e41;
      padding: 1rem;
    }
    .daily-logo {
      width: 160px;
      margin-bottom: 1rem;
    }
    .daily-link {
      text-decoration: underline;
      color: #ea580c;
    }
    .daily-hr {
      border: 0;
      border-top: 1px solid;
      color: inherit;
      opacity: .25;
      margin: 1rem 0;
    }

  </style>
</head>
<body>
<main>
  <img alt="daily" class="daily-logo" src="https://trydaily.click/img/daily-logo.svg">
  <p>Dear <span th:text="${appUserFirstName}"></span>,<br><br><br>We are thrilled to have you here
    with us!<br><br>Just click <a class="daily-link"
                                  th:href="@{{activationUri}(activationUri=${activationUri})}">here</a>
    in 24 hours to activate your account, and you will be good to go<br><br><br>Thanks, have a
    lovely day,<br><br>The daily team
  </p>
  <hr class="daily-hr">
  <small>If you received this email by mistake, you can safely ignore it</small>
</main>
</body>
</html>