<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title th:text="${title}"></title>

  <link th:replace="~{common-fragments :: fonts-bunny}">
  <style>

    body {
      font-family: 'Inter', sans-serif;
      color: #2f2e41;
      padding: 1rem;
    }
    .daily-logo {
      width: 160px;
      margin-bottom: 1rem;
    }
    .daily-hr {
      border: 0;
      border-top: 1px solid;
      color: inherit;
      opacity: .25;
      margin: 1rem 0;
    }
    .daily-link {
      text-decoration: underline;
      color: #ea580c;
    }

  </style>
</head>
<body>
<main>
  <img alt="daily" class="daily-logo" src="https://trydaily.click/img/daily-logo.svg">
  <p>Dear <span th:text="${appUserFirstName}"></span>,<br><br><br>It has been a while since you last
    logged in. Unfortunately, to keep running the app we need engaged and active users.
    Your account and your data will be completely deleted in <span
        th:text="${hoursBeforeRemoval}"></span> hours if you do not perform access to <a
        class="daily-link"
        th:href="@{{baseUri}(baseUri=${baseUri})}">daily</a><br><br><br>Thanks,<br><br>The daily
    team
  </p>
  <hr class="daily-hr">
  <small>If you received this email by mistake, you can safely ignore it</small>
</main>
</body>
</html>