<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title>daily | Error</title>

  <link th:replace="~{common-fragments :: bootstrap-css}">
  <link th:replace="~{common-fragments :: fonts-bunny}">
  <link th:replace="~{common-fragments :: public-style}">
</head>
<body>
<main class="d-flex vh-100 text-center justify-content-center align-items-center">
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="mb-5">
          <img alt="daily" class="daily-logo" th:src="@{/img/daily-logo.svg}">
        </div>
        <div class="alert alert-danger mb-5" role="alert">Something went wrong but don't panic! Just
          click the button
          below
        </div>
        <div class="d-grid">
          <a class="btn daily-btn text-uppercase" th:href="@{/}">Home</a>
        </div>
      </div>
    </div>
  </section>
</main>
<script th:replace="~{common-fragments :: bootstrap-js}"></script>
</body>
</html>