<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title>daily | Log in</title>

  <link th:replace="~{common-fragments :: bootstrap-css}">
  <link th:replace="~{common-fragments :: fonts-bunny}">
  <link th:replace="~{common-fragments :: public-style}">
  <script defer th:src="@{/public-login.js}"></script>
</head>
<body class="login-body">
<main class="d-flex text-center justify-content-center pt-5">

  <section class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">

        <div class="mb-5">
          <img alt="daily" class="daily-logo" th:src="@{/img/daily-logo.svg}">
        </div>

        <div class="alert alert-danger" id="activation-failure-alert" role="alert"
             th:if="${activationCodeFailure}" th:text="${activationCodeFailure}">
        </div>

        <div class="alert alert-success" id="activation-success-alert" role="alert"
             th:if="${activationCodeSuccess}" th:text="${activationCodeSuccess}">
        </div>

        <form id="login-form" method="post" th:action="@{/login}">

          <div class="alert alert-danger" id="invalid-credentials-alert" role="alert"
               th:if="${invalidCredentialsError}" th:text="${invalidCredentialsError}">
          </div>
          <div class="alert alert-success" id="logout-alert" role="alert" th:if="${param.logout}">
            You have been logged out
          </div>

          <div class="form-floating mb-3">
            <input autofocus class="form-control" id="email" maxlength="320" name="email"
                   placeholder="Email"
                   required type="email"/>
            <label for="email">Email</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="password" name="password" placeholder="Password"
                   required
                   type="password"/>
            <label for="password">Password</label>
          </div>

          <div class="d-grid">
            <input class="btn daily-btn text-uppercase" type="submit" value="Log in">
          </div>

        </form>

        <div class="row align-items-center my-4">
          <div class="col">
            <hr>
          </div>
          <div class="col-auto">OR</div>
          <div class="col">
            <hr>
          </div>
        </div>

        <div class="mb-3">
          <a class="btn daily-outline-btn d-flex justify-content-center align-items-center"
             id="google-login-btn"
             th:href="@{/oauth2/authorization/google}">
            <img alt="Continue with Google" class="google-logo"
                 th:src="@{/img/google-logo.svg}">Log in with Google
          </a>
        </div>

        <p>Don't have an account? <a class="daily-link" th:href="@{/signup}">Sign up</a></p>
      </div>
    </div>

  </section>
</main>
<footer class="d-flex text-center justify-content-center align-items-center p-3 mt-auto">
  <a href="https://github.com/LBLucaBonetti/daily.git"><img alt="GitHub repository link"
                                                            height="49"
                                                            th:src="@{/img/github-logo.svg}"
                                                            width="49"></a>
</footer>
<script th:replace="~{common-fragments :: bootstrap-js}"></script>
</body>
</html>
