<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <meta th:replace="~{common-fragments :: google-site-verification}">
  <title>daily | Reset password</title>

  <link th:replace="~{common-fragments :: bootstrap-css}">
  <link th:replace="~{common-fragments :: fonts-bunny}">
  <link th:replace="~{common-fragments :: public-style}">
  <script defer th:src="@{/public-passwords.js}"></script>
</head>
<body>
<main class="d-flex text-center justify-content-center py-5">

  <section class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">

        <div class="d-flex justify-content-between align-items-center mb-5">
          <div class="text-start">
            <h1>Reset password</h1>
            <h6>Please enter your new password and confirm</h6>
          </div>
          <div>
            <a tabindex="-1" th:href="@{/}"><img alt="daily" class="daily-small-logo"
                                                 th:src="@{/img/logo.svg}"></a>
          </div>
        </div>

        <div class="alert alert-danger" id="password-reset-code-failure-alert" role="alert"
             th:if="${passwordResetCodeFailure}" th:text="${passwordResetCodeFailure}">
        </div>

        <form id="password-reset-form" method="post"
              th:action="@{/password-reset}"
              th:object="${passwordResetDto}">

          <div class="alert alert-danger" id="global-errors-alert" role="alert"
               th:each="err : ${#fields.errors('global')}" th:if="${#fields.hasErrors('global')}"
               th:text="${err}">
          </div>

          <div class="input-group mb-3">
            <div class="form-floating">
              <input class="form-control" data-role="password-input" id="password"
                     placeholder="New password" required
                     th:disabled="*{passwordResetCode == null}" th:field="*{password}"
                     type="password"/>
              <label for="password">New password</label>
              <div class="text-danger text-start" th:errors="*{password}"
                   th:if="${#fields.hasErrors('password')}"></div>
            </div>
            <button class="btn btn-light toggle-password-visibility-btn"
                    data-role="password-button"
                    id="toggle-password-visibility" type="button">
              <img alt="show" data-role="password-show-image" id="password-show"
                   th:src="@{/img/eye-open.svg}">
              <img alt="hide" data-role="password-hide-image" hidden id="password-hide"
                   th:src="@{/img/eye-closed.svg}">
            </button>
          </div>

          <div class="input-group mb-3">
            <div class="form-floating">
              <input class="form-control" data-role="password-confirmation-input"
                     id="password-confirmation"
                     placeholder="Re-enter new password" required
                     th:disabled="*{passwordResetCode == null}" th:field="*{passwordConfirmation}"
                     type="password"/>
              <label for="password-confirmation">Re-enter new password</label>
              <div class="text-danger text-start" th:errors="*{passwordConfirmation}"
                   th:if="${#fields.hasErrors('passwordConfirmation')}"></div>
            </div>
            <button class="btn btn-light toggle-password-visibility-btn"
                    data-role="password-confirmation-button"
                    id="toggle-password-confirmation-visibility" type="button">
              <img alt="show" data-role="password-confirmation-show-image"
                   id="password-confirmation-show"
                   th:src="@{/img/eye-open.svg}">
              <img alt="hide" data-role="password-confirmation-hide-image" hidden
                   id="password-confirmation-hide"
                   th:src="@{/img/eye-closed.svg}">
            </button>
          </div>

          <input id="password-reset-code" th:field="*{passwordResetCode}" type="hidden">

          <div class="d-grid">
            <input class="btn daily-btn text-uppercase" th:disabled="*{passwordResetCode == null}"
                   type="submit"
                   value="Confirm">
          </div>

        </form>
      </div>
    </div>
  </section>
</main>
<script th:replace="~{common-fragments :: bootstrap-js}"></script>
</body>
</html>