<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title>daily | Reset password</title>

  <link th:replace="~{common-fragments :: bootstrap-css}">
  <link th:replace="~{common-fragments :: fonts-bunny}">
  <link th:replace="~{common-fragments :: public-style}">
</head>
<body>
<main class="d-flex text-center justify-content-center py-5">

  <section class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">

        <div class="d-flex justify-content-between align-items-center mb-5">
          <div class="text-start">
            <h1>Reset password</h1>
            <h6>Please enter your e-mail</h6>
          </div>
          <div>
            <a tabindex="-1" th:href="@{/}"><img alt="daily" class="daily-small-logo"
                                                 th:src="@{/img/logo.svg}"></a>
          </div>
        </div>

        <form id="password-reset-link-form" method="post" th:action="@{/passwords}"
              th:object="${passwordResetLinkDto}">

          <div class="alert alert-danger" id="global-errors-alert" role="alert"
               th:each="err : ${#fields.errors('global')}" th:if="${#fields.hasErrors('global')}"
               th:text="${err}">
          </div>

          <div class="form-floating mb-5">
            <input autofocus class="form-control" id="email" maxlength="320" placeholder="E-mail"
                   required
                   th:field="*{email}" type="email"/>
            <label for="email">E-mail</label>
            <div class="text-danger text-start" th:errors="*{email}"
                 th:if="${#fields.hasErrors('email')}"></div>
          </div>

          <div class="d-grid">
            <input class="btn daily-btn text-uppercase" type="submit" value="Send">
          </div>

        </form>
      </div>
    </div>
  </section>
</main>
<script th:replace="~{common-fragments :: bootstrap-js}"></script>
</body>
</html>