<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="daily is an app for organizing everyday life" name="description"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="no" name="msapplication-tap-highlight"/>
  <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
      name="viewport">
  <title>daily | Sign up</title>

  <link th:replace="~{common-fragments :: bootstrap-css}">
  <link th:replace="~{common-fragments :: fonts-bunny}">
  <link th:replace="~{common-fragments :: public-style}">
  <script defer th:src="@{/public-signup.js}"></script>
</head>
<body>
<main class="d-flex text-center justify-content-center py-5">

  <section class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">

        <div class="d-flex justify-content-between align-items-center mb-5">
          <div class="text-start">
            <h1>Sign up</h1>
            <h6>Create your free account now</h6>
          </div>
          <div>
            <a tabindex="-1" th:href="@{/}"><img alt="daily" class="daily-small-logo"
                                                 th:src="@{/img/logo.svg}"></a>
          </div>
        </div>

        <div class="alert alert-success" id="signup-success-alert" role="alert"
             th:if="${signupSuccess}" th:text="${signupSuccess}">
        </div>

        <form id="signup-form" method="post" th:action="@{/signup}" th:object="${appUserDto}">

          <div class="alert alert-danger" id="global-errors-alert" role="alert"
               th:each="err : ${#fields.errors('global')}" th:if="${#fields.hasErrors('global')}"
               th:text="${err}">
          </div>

          <div class="form-floating mb-3">
            <input autofocus class="form-control" id="email" maxlength="320" placeholder="E-mail"
                   required
                   th:field="*{email}" type="email"/>
            <label for="email">E-mail</label>
            <div class="text-danger text-start" th:errors="*{email}"
                 th:if="${#fields.hasErrors('email')}"></div>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="password" placeholder="Password" required
                   th:field="*{password}"
                   type="password"/>
            <label for="password">Password</label>
            <div class="text-danger text-start" th:errors="*{password}"
                 th:if="${#fields.hasErrors('password')}"></div>
          </div>


          <div class="form-floating mb-3">
            <input class="form-control" id="password-confirmation"
                   placeholder="Re-enter password" required
                   th:field="*{passwordConfirmation}"
                   type="password"/>
            <label for="password-confirmation">Re-enter password</label>
            <div class="text-danger text-start" th:errors="*{passwordConfirmation}"
                 th:if="${#fields.hasErrors('passwordConfirmation')}"></div>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="first-name" maxlength="255" placeholder="First name"
                   required th:field="*{firstName}"
                   type="text"/>
            <label for="first-name">First name</label>
            <div class="text-danger text-start" th:errors="*{firstName}"
                 th:if="${#fields.hasErrors('firstName')}"></div>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="last-name" maxlength="255" placeholder="Last name"
                   required
                   th:field="*{lastName}" type="text"/>
            <label for="last-name">Last name</label>
            <div class="text-danger text-start" th:errors="*{lastName}"
                 th:if="${#fields.hasErrors('lastName')}"></div>
          </div>

          <div class="text-start mb-5">
            <label class="mb-1">Preferred language</label>
            <div class="btn-group d-flex" role="group">
              <input autocomplete="off" class="btn-check" id="lang-en"
                     name="lang" th:field="*{lang}" type="radio" value="en-US">
              <label class="btn daily-radio" for="lang-en">English</label>
              <input autocomplete="off" class="btn-check" id="lang-it"
                     name="lang" th:field="*{lang}" type="radio" value="it">
              <label class="btn daily-radio" for="lang-it">Italian</label>
            </div>
            <div class="text-danger" th:errors="*{lang}"
                 th:if="${#fields.hasErrors('lang')}"></div>
          </div>

          <div class="d-grid">
            <input class="btn daily-btn text-uppercase" type="submit" value="Confirm">
          </div>

        </form>
      </div>
    </div>
  </section>
</main>
<script th:replace="~{common-fragments :: bootstrap-js}"></script>
</body>
</html>
