body {
  background-color: #fafafa !important;
  font-family: 'Inter', sans-serif !important;
  color: #2f2e41 !important;
}

.daily-logo {
  width: 230px;
}

.daily-small-logo {
  width: 64px;
}

@media (max-width: 355px) {
  .daily-logo {
    width: 160px;
  }
}

.daily-btn {
  background-color: #3f3d56 !important;
  color: #fafafa !important;
  transition: 0.3s !important;
}

.daily-btn:hover {
  background-color: #3f3d56 !important;
  color: #fafafa !important;
  opacity: 0.9 !important;
}

.daily-btn:focus {
  background-color: #3f3d56 !important;
  color: #fafafa !important;
  opacity: 0.85 !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.daily-outline-btn {
  border: 1px solid #3f3d56 !important;
  color: #2f2e41 !important;
  transition: 0.3s !important;
}

.daily-outline-btn:hover {
  border: 1px solid #3f3d56 !important;
  color: #2f2e41 !important;
}

.daily-outline-btn:focus {
  border: 1px solid #3f3d56 !important;
  color: #2f2e41 !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.google-logo {
  height: 1.2rem;
  margin-right: 0.5rem;
}

.daily-link {
  color: #ea580c !important;
}

.daily-radio {
  border-color: #dee2e6 !important;
}

.btn-check:checked + .btn {
  background-color: #ea580c !important;
  color: #fafafa !important;
  border-color: #dee2e6 !important;
}
